/@*/
_@*/
.env
config/DataCache/cache.ch
dayz.gproj
*.exe
*.RPT
*.ADM
*.log
*.dll
*.bisign
*.pbo
*.bin
*.vdf
*.mdmp
*.ebo
/battlefield
/bliss
/dta
/keys
/addons
/mpmissions/Expansion.chernarusplus/storage_1/
/appcache
/logs
sakhal/addons/
/battleye
.continueignore
.vscode/
__pycache__/
.mypy_cache/
/tmp
config/ExpansionMod/Settings/SocialMediaSettings.json
